.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    border-top: 1px solid lightgrey;
  }
  
  .links {
    padding-top:10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    margin-bottom: 20px;
  }
  
  .link {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: #555555;
    margin-bottom: 10px;
    text-decoration: none !important; /* Remove underline */
  }
  
  .imageContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .logo {
    display: block;
  }
  
  .footerText {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    color: #555555;
    text-align: center;
    margin-bottom: 10px; /* Added margin */
  }
  
  .footerText span:last-child {
    margin-top: 5px;
  }
  