.carouselContainer {
    position: relative;
    overflow: hidden;
    margin-top: 100px; /* or however tall your navbar is */
  }
  
  .imageCarousel {
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .imageContainer {
    justify-content: center;
    align-items: center;
    padding: 10px;
    overflow: hidden;
  }
  
  .image {
    object-fit: contain;
    width: 100%;
    height: auto;
    margin: 0;
  }
  
  @media (min-width: 768px) {
    .carouselContainer {
      margin-top: 150px;
    }
  
    .imageCarousel {
      display: flex;
    }
  
    .imageContainer {
      width: 70%;
      margin: 0 auto;
    }
  }
  
  .active .image {
    height:auto;
    width: auto;
  }
  