.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 32px;
  height: 24px;
  padding: 4px;
  z-index: 2;
}
/* Hide hamburger on devices with a minimum width of 768px */

.line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000;
  color:black;
  transition: transform 0.2s, opacity 0.2s;
  margin-bottom: 6px;
}

.open:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.open:nth-child(2) {
  opacity: 0;
}

.open:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
/* test */