.mainContainer {
    padding: 20px 15px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 10;
    border-bottom: 1px solid lightgray;
    height:60px;
  }
  
  .nav {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 24px;
  }
  
  @media (min-width: 768px) {
    .mainContainer {
      height: 100px;
    }
    .nav {
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
  
  .logo {
    cursor: pointer;
    height: 80%;
    width: 40%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    transition-duration: 100ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  @media (min-width: 768px) {
    .logo {
      height: 80%;
      width: 20%;
    }
  }
  
  .menu {
    position: fixed;
    top: 61px;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: white;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1;
  }
  
  .menu-items {
    margin-right: 16px;
    font-size: 16px;
    font-weight: bold;
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menu li {
    padding: 1rem;
  }
  
  .menu-item-categories {
    position: relative;
    cursor: pointer;
  }
  
  .menu-item-categories .sub-menu-container {
    position: relative;
  }
  
  .menu-item-categories .sub-menu {
    position: absolute;
    left: 0;
    top: 100%;
    width: 200px;
    background-color: white;
    transition: margin-top 0.3s ease-in-out;
    margin-top: -80px;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
  }
  
  .menu-item-categories:hover .sub-menu {
    margin-top: 16px;
    opacity: 1;
    visibility: visible;
    z-index: 1;
  }
  
  .menu-item-schedule {
    position: relative;
    top: 16px;
  }
  
  .sub-menu-container {
    position: relative;
  }
  
  .sub-menu-shop {
    position: absolute;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out;
    z-index: 11;
  }
  
  .sub-menu-shop ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sub-menu-shop li {
    padding: 1rem;
  }
  
  .active .sub-menu-shop {
    transform: translateX(-200px);
  }
  
  .sub-menu-accessories {
    position: absolute;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out;
    z-index: 12;
  }
  
  .sub-menu-accessories ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sub-menu-accessories li {
    padding: 1rem;
  }
  
  .active .sub-menu-accessories {
    transform: translateX(-200px);
  }
  
  @media screen and (min-width: 600px) {
    .nav {
      height: 100px;
    }
    .menu{
      top:101px;
    }
    }




/* 
.navMenu {
  @apply hidden ml-6 space-x-4 lg:block;
}

.link {
  @apply inline-flex items-center leading-6
  transition ease-in-out duration-75 cursor-pointer
  text-accent-5;
}

.link:hover {
  @apply text-accent-9;
}

.link:focus {
  @apply outline-none text-accent-8;
}

.logo {
  @apply cursor-pointer rounded-full border transform duration-100 ease-in-out; */

  /* &:hover {
    @apply shadow-md;
    transform: scale(1.05);
  } */
/* } */
@media screen and (min-width: 600px) {
    .mainContainer {
      height: 100px;
    }
    .menu{
      top:101px;
    }
    }